<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Tradição Tech Store</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <style>
            #inventario {
                max-width: 420px;
                margin: 60px auto;
            }

            #inventario a[role="button"] {
                display: block;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
            }
        </style>
    </head>
<body>
    <main class="container">
        <section id="inventario">
            <h1>Tradição Tech Store</h1>
                <p>Sistema de Gestão de Inventário</p>
            <p>
                <a href="{{ url_for('cadastro') }}" target="_blank" rel="noopener" role="button">Cadastrar Produtos</a>
            </p>

            <p>
                <a href="{{ url_for('consulta') }}" target="_blank" rel="noopener" role="button">Consultar itens Cadastrados</a>
            </p>

            <p>
                <a href="{{ url_for('pesquisar') }}" target="_blank" rel="noopener" role="button">Pesquisar Produtos</a>
            </p>
        </section>
    </main>
</body>
</html>

