<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Inventário</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <style>
            #formulario, #resultado, #grafico, #historico {
                max-width: 420px;
                margin: 60px auto;
            }
        </style>
    </head>
<body>
    <main class="container">
        <section id="formulario">
            <h1>Inventário</h1>
            <form action="{{ url_for('adicionar') }}" method="POST">
                <div>
                    <p><input type="text" name="nome" placeholder="Nome do Produto" required></p>
                    <p><input type="number" name="preco" placeholder="Preço" required inputmode="decimal" step="1"></p>
                    <p><input type="number" name="quantidade" placeholder="Quantidade" required inputmode="numeric" step="1"></p>
                </div>
                <button type="submit" id="contrast">Cadastrar Produto</button>
            </form>
        </section>

    </main>
</body>
</html>